.navbar {
    background-color: #151515;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.navbar .container {
    justify-content: start;
}

.bi {
    color: white;
    font-size: 1.3rem;
    padding-right:0.5vw;
}